[2019-01-29 06:44] OHeroJ opened #1 "database query job"
If I have a query the database job, what to do?

[2019-01-29 13:07] mcdappdev commented on #1
Hi there, can you please clarify what you’re confused about in particular? Is it accessing a database connection?

[2019-01-30 03:51] #1 closed

[2019-02-20 17:16] quantumass opened #4 "access the container"
I want to send a request to another server once the job is triggered
but it's seems impossible to access the container

[2019-02-20 17:18] mcdappdev commented on #4
@quantumass You should pass in a `Client` to the job on the initialization. For example:

[code]

[2019-02-20 23:00] #4 closed

[2019-02-22 10:00] quantumass opened #5 "Job not retrying again after an error"
I created a job as defined below it's working fine but once there is an error it doesn't retry again
I added the
context.eventLoop.future(error: Abort(.badRequest, reason: "My error here."))
but the compiler says `argument passed to call that takes no arguments`

[code]

[2019-02-22 12:45] mcdappdev commented on #5
My guess is that it’s not retrying because you’re catching the error and returning success. Try omitting the label on eventLoop.future, I think that might do it.

[2019-03-05 16:12] mcdappdev opened #7 "JobData naming collision warning"
We should provide a console warning when multiple jobs are registered with the same `JobData` name to help prevent collisions during decoding.

[2019-03-12 22:37] mcdappdev commented on #7
Fixed in #8

[2019-03-12 22:37] #7 closed

[2019-03-12 22:38] mcdappdev commented on #5
@quantumass Closing this for now, feel free to reopen if you have further questions.

[2019-03-12 22:38] #5 closed

[2019-03-15 06:15] antonyharfield opened #9 "Document database/fluent access from inside dequeue"
Could we add an example to the readme on how to access the database/fluent from the job please?

I haven't figured out what the best way would be... can we pass in a DatabaseConnectable as service? or is it possible to extend the JobContext to be DatabaseConnectable?

(If you have some examples then I would be willing to document it in the readme.)

[2019-03-15 11:38] mcdappdev commented on #9
Sorry about that - the README is out of date as everything is in pre-release. This is a good place to find the updated docs: https://github.com/vapor/documentation/pull/389

Regarding the database connection, I pass in container.pooledConnection(to: .mysql) (I’m on mobile so that might not be the correct syntax.)

[2019-03-15 11:38] #9 closed

[2019-03-16 02:18] antonyharfield commented on #9
Thanks @mcdappdev. The updated docs worked for me!

[2019-03-16 02:19] mcdappdev commented on #9
Awesome!

[2019-03-20 10:30] quantumass commented on #5
if there is an error during the execution of the job it print an error and delete the record from redis and doesn't retry
[code]

[2019-03-20 12:19] mcdappdev commented on #5
Yes - that's because you're swallowing the error. You need to return that error as a future inside of the `catch` block if you want it to retry: `return context.eventLoop.future(error: error)`

[2019-03-21 10:14] quantumass commented on #5
@mcdappdev no it doesn't work automaticly it delete the redis row

[2019-03-21 10:21] quantumass commented on #5
@mcdappdev sorry, I just figured out that it doesn't print the error inside the catch so it might be a problem with service

[2019-03-21 10:55] quantumass commented on #5
@mcdappdev can you help me please
the error doesn't get printed
[code]

[2019-03-21 17:09] mcdappdev commented on #5
That should definitely be printing the error. Where are you running this? Mac? Linux?

[2019-05-12 22:29] proggeramlug commented on #9
@mcdappdev can we get the readme updated though? I'm planning on referencing this package in my upcoming book, so it would be nice to not have the readers look through these issues for them to find the link to the documentation ;)

[2019-05-12 22:33] mcdappdev commented on #9
@proggeramlug I’m actually going to get rid of the readme soon to match the style of the other Vapor repos. All stuff will be in that docs PR

[2019-05-12 22:40] proggeramlug commented on #9
Can the readme post a link then?

--
Skelpo - hot software.

www.reviewsender.com <http://www.reviewsender.com>
- Get new Amazon Review-Notifications!

 <https://www.skelpo.com>

www.skelpo.com <https://www.skelpo.com>
info@skelpo.com
<mailto:info@skelpo.com>

Skelpo Inc.
600 Third Ave 2nd Floor
New York, NY
10016
USA
Phone: + 1 213 233 9447

Skelpo UG (haftungsbeschränkt)

Bergstraße 5
D-58339 Br

[2019-05-12 23:07] mcdappdev commented on #9
Oh yeah absolutely, once the docs are live this readme will have a link just like all of the others

[2019-06-13 03:52] mcdappdev opened #16 "Support delay"
The library should allow users to specify a delayed job:

[code]

[2019-06-13 03:53] mcdappdev opened #17 "Support re-queueing stuck jobs"
In order to fully complete conformance with the reliable queue pattern, the library should expose a hook that allows drivers to move idle jobs in processing back to the upcoming queue stack. This would be useful for jobs that get stuck if the process crashes.

[2019-06-13 16:04] tanner0101 commented on #16
Fixed by #18

[2019-06-13 16:04] #16 closed

[2019-06-17 00:26] mcdappdev opened #22 "Allow single process workers"
Users should be able to specify that the jobs worker should be run in the same process as the web application instead of running via a separate CLI command

[2019-06-19 18:41] tanner0101 commented on #22
I think this would be easier said than done since it would require inventing some way for two commands to run at once. Or we'd need to make a separate command that serves + runs jobs. Either way, composability of commands would be an issue I think.

[2019-06-19 18:42] mcdappdev commented on #22
That's what I thought at first too, but I think it would be pretty easy to just abstract the logic inside of the existing command into another class that could be called manually, right? So in `jobs.swift` you could run:

`JobsCommand().run()`

And since the existing method doesn't return a future already it should be setup to just run in the background.

[2019-06-19 19:31] tanner0101 commented on #22
Ah, yeah, that makes sense. That seems related to abstracting out `Jobs` into `JobsKit`, too. The command stuff should really just be calling into APIs that the user themselves can call if they want to build custom commands 👍

[2019-06-19 19:40] mcdappdev commented on #22
Yeah agreed, we should abstract some of this stuff out

[2019-06-21 16:43] tanner0101 opened #23 "extend command configuration in provider"
We should automatically add the jobs command in the `JobsProvider` now that this is possible in Vapor 4.

[code]

[2019-06-21 16:43] tanner0101 opened #24 "rename JobsConfig to JobsConfiguration"
we should avoid using abbreviations

[2019-06-21 16:54] tanner0101 opened #26 "consider moving refreshInterval and persistenceKey to JobsConfiguration"
It's a bit strange to configure Jobs via the provider init _and_ a struct named `JobsConfiguration`. Could we combine these?

[2019-06-21 16:56] tanner0101 opened #27 "consider renaming QueueService to JobQueue"
QueueService is a bit general and is one of the only types that doesn't have `Job` in the name. Maybe it would be more consistent if we changed the name slightly.

[2019-06-21 17:08] #23 closed

[2019-06-21 17:08] #24 closed

[2019-06-21 17:08] tanner0101 commented on #26
We should also make the name of the jobs command (`"jobs"` by default) configurable

[2019-06-21 18:15] mcdappdev opened #28 "Update documentation"
Update https://github.com/vapor/documentation/pull/389 before tagging 1.0

[2019-06-21 19:47] tanner0101 opened #29 "API for configuring drivers"
There's a bit of manual work currently required to get a valid `JobsPersistanceLayer`. We should provide some convenience APIs for this like [FluentKit](https://github.com/vapor/fluent-kit/blob/master/Sources/FluentKit/Database/Databases.swift) does.

Each driver can extend those convenience APIs with functions for supplying the required credentials.

[2019-06-21 19:49] tanner0101 commented on #29
Perhaps we could utilize `JobsConfiguration`,  something like this would be nice:

[code]

[2019-06-21 19:50] mcdappdev commented on #29
But with that wouldn't the main `jobs` package have to know that `Redis` exists?

[2019-06-21 19:51] tanner0101 commented on #29
@mcdappdev no, `JobsConfiguration` would hold just a `JobsPersistanceLayer`, then `JobsRedisDriver` would extend `JobsConfiguration` to add that method

[2019-06-21 19:52] mcdappdev commented on #29
Ahh I see. That could work nicely! Let's plan on doing that.

[2019-06-21 20:04] tanner0101 commented on #29
We need to make sure that we use the provider (or other means) to properly cleanup any connection pools that we create

[2019-06-21 23:43] #26 closed

[2019-06-21 23:43] #29 closed

[2019-06-21 23:43] tanner0101 commented on #27
Fixed in #30

[2019-06-21 23:44] #27 closed

[2019-08-07 23:29] Igor-Palaguta opened #34 "Run in Application's EventLoopGroup for Vapor 3"
It is cool if there is way to customize event loop group for version 0.2.7. Like in new version to reuse application's event loops group

Under hobby account in heroku there is a limit 20 postgres connections for all workers. And JobCommand creates `MultiThreadedEventLoopGroup(numberOfThreads: System.coreCount)` and every thread creates own connections as I understand correctly. So this limit is e

[2019-08-07 23:30] mcdappdev commented on #34
That's a good point. We should make it customizable.

[2019-08-08 21:55] mcdappdev commented on #34
FYI - this will be fixed for v1

[2019-08-08 21:55] #34 closed

[2019-08-08 22:00] Igor-Palaguta commented on #34
v1 is shipped with Vapor 4?
Cool if for Vapor 3 it will also work

[2019-08-08 22:01] #22 closed

[2019-08-08 22:04] mcdappdev commented on #34
Right now V1 is targeting Vapor 4, so no, it won't work in Vapor 3. If I get some time later this week or next week though I can make a patch for Vapor 3.

[2019-10-25 01:11] tanner0101 opened #37 "make testScheduledJob faster"
Right now the smallest unit of time scheduled jobs support is a minute. This makes waiting for the scheduled jobs test to run pretty annoying.

Maybe we should add seconds or a `schedule(at:Date)` method? This would allow us to run the tests a lot faster and could be useful to the end user.

[2019-10-25 01:13] tanner0101 opened #38 "better type-safety on job dispatch"
Currently job handlers are looked up by their `Data` associated type. This could lead to a potential ambiguity. For example, what would happen if two job handlers used `[String: String]` as their data type?

Maybe we could do something like:
[code]
That could look like:
[code]

[2019-10-25 01:16] tanner0101 opened #39 "improving configuration api"
This is what a min-viable setup for vapor + jobs looks like currently:

[code]

Not bad at all, but I have some ideas. What about something like this:

[code]

[2019-10-25 01:18] mcdappdev commented on #39
I agree, I think this would be really nice.

[2019-10-25 01:21] mcdappdev commented on #38
I'm not sure your suggested solution would actually solve the problem, right? What would it look like if they were using `[String: String]` as the data type?

[code]

This goes a little bit deeper into an existential issue that has existed since the beginning of Jobs which is that the way we track configured jobs is not guaranteed to be deterministic for every possible input (not within multiple r

[2019-10-25 01:22] mcdappdev commented on #37
Yeah, this is an annoying pain point right now. Adding another smaller unit seems like overkill since I'm not sure people will be scheduling things at that increment (although maybe they will?).

[2019-10-25 01:50] tanner0101 commented on #38
In the `[String: String]` case, I was imagining something like:

[code]
With dispatching looking like:
[code]

I think we could achieve this internally by using the job handler (`Job`)'s name as the "job name" instead of the job data. The job handler type is guaranteed to be unique even if it uses the same data type as another job.

[2019-10-25 01:51] tanner0101 commented on #37
Yeah that's why I was thinking maybe `schedule(at:)` for one-off jobs? Then in tests we could schedule a one-off job ~5 seconds in the future.

[2019-10-25 01:52] mcdappdev commented on #37
Yeah I think that’s the way to do it. That’s a helpful feature to have anyway

[2019-10-25 12:03] mcdappdev commented on #38
Ah, I see. That could work!

[2019-10-30 04:25] tonyarnold opened #41 "Conceptual Question: Do I need to spin up external workers?"
Sorry if this is a bit of an obtuse question, but I'm a bit stumped - do I need to run another vapor instance alongside my "main" instance to run jobs?

[2019-10-30 04:47] tonyarnold commented on #41
If they do need to be spun up externally, how are you deploying instances like this? A completely separate application instance pointing to your original database?

[2019-10-30 13:12] mcdappdev commented on #41
No apologies necessary! Yes typically you would run this alongside your main application. If you're using something like Heroku, the concept of Dynos applies here - you would have the application dynos running your main code and then some worker dynos (an arbitrary amount, specified by you) that run the queue worker. They both run off of the same codebase but the initial start command differs.

Wi

[2019-10-30 13:12] #41 closed

[2019-10-30 22:13] tonyarnold commented on #41
I haven't looked at v4 yet - is there a technical reason why this feature couldn't be back ported to v3?

[2019-10-31 00:58] mcdappdev commented on #41
I don't think there's a technical reason but it's definitely non-trivial. This is what the file looks like currently: https://github.com/vapor/jobs/blob/3/Sources/Jobs/JobsCommand.swift and the new version splits it into a `JobsWorker`.

[2019-10-31 01:20] tonyarnold commented on #41
Awesome, thanks for the info - I might have a crack at back porting it in a week or two.

[2019-10-31 01:20] mcdappdev commented on #41
Cool, I think most would find that a welcome addition 😊👍🏻

[2019-11-09 13:24] mcdappdev commented on #39
Closed in #43

[2019-11-09 13:24] #39 closed

[2019-11-09 17:05] #38 closed

[2019-11-10 04:23] madsodgaard opened #46 "Multiple workers can execute the same scheduled job"
Currently we create one `ScheduledJobWorker` per event loop. As far as I can tell, there is nothing in place to make sure that the job is only performed once and on one thread so that multiple workers do not execute the same job at the same time.

[2019-11-13 16:16] #37 closed

[2019-11-15 04:42] tonyarnold commented on #41
Did this get worked out, or is it in the code right now? Is there an example I can have a look at?

[2019-11-15 14:20] mcdappdev commented on #41
On this class: https://github.com/vapor/jobs/blob/master/Sources/Jobs/JobsWorker.swift#L6 you should be able to call `.start(on: queue)`

[2019-11-15 14:20] mcdappdev commented on #41
(Although I think ideally we'd add a flag to the provider and handle it in the background)

[2019-11-17 22:23] tonyarnold commented on #41
So the main app need to retain the worker instances somewhere/somehow? In boot, maybe?

Do you have a design in mind for how the app and the jobs queue would co-exist in the same process?

[2019-11-18 00:02] mcdappdev commented on #41
Yeah that looks nice! This line: https://gist.github.com/tonyarnold/c62b8ef70e0b3fe5f01cfa3e97d18233#file-inprocessjobsprovider-swift-L28 we should make customizable. But overall that's exactly what I had in mind

[2019-12-19 09:44] VineFiner opened #50 "how to use?"
Hi, Can add an executable target to show sending emails every hour?

[2019-12-19 15:17] mcdappdev commented on #50
Hi there, I'm not 100% positive what's being asked here but if you're inquiring about whether or not it's possible to send an email every hour, then yes, that's definitely possible :)

[2019-12-19 15:45] VineFiner commented on #50
Hello, is there a demo?
https://github.com/vapor/api-template/tree/kitchen-sink
Me run jobs
Email can be printed, but how to print it regularly?
I did not find the documentation.
Sorry, this may not be an issue.  But I look at the iOS library, they have demos, which is very convenient.

[2019-12-19 15:47] mcdappdev commented on #50
Right now there is no complete documentation as that will be published when it is tagged 1.0. The best reference is from the recent forum update: https://forums.swift.org/t/whats-new-in-vapor-4/31832

[2019-12-19 15:47] #50 closed

[2019-12-19 15:49] VineFiner commented on #50
Okay thank you

[2020-01-04 16:59] mcdappdev opened #51 "Support in-process jobs"
This should be as simple as making `startJobs` and `startScheduledJobs` public in `JobsCommand`

[2020-01-04 16:59] khoogheem opened #54 "swift run Run jobs --scheduled only works with using .at()"
If you schedule a job using at with a specific date then the scheduled works.. however if you try and setup a job using something like `.everySecond()` it never process the jobs

works
[code]

Doesn't work
[code]

job is just a simple print
[code]
if I make the change to ScheduleBuilder:
[code]

and put in a breakpoint in the `nextDate(current` function I can get it to run once.. but not repeated

[2020-01-04 17:00] mcdappdev opened #52 "Create/update a new example project"

[2020-01-04 17:02] mcdappdev commented on #46
@madsodgaard I believe this is fixed in the latest beta. Please reopen if you see something different.

[2020-01-04 17:24] #51 closed

[2020-01-04 17:48] mcdappdev commented on #28
Just updated to Vapor 4 - further discussion will take place there

[2020-01-04 17:48] #28 closed

[2020-01-04 18:45] mcdappdev commented on #52
Updated at https://github.com/mcdappdev/jobs-example

[2020-01-04 18:45] #52 closed

[2020-01-05 17:00] khoogheem opened #55 "In Process Jobs... start Scheduled with no ScheduledJobs"
If I use the example app.. or my own and try the command:
`try JobsCommand(application: app, scheduled: true).startScheduledJobs()`

It produces the error `Assertion failed: JobsCommand did not shutdown before deinit: file`
If there is no call to: `app.jobs.schedule` prior to calling the `. startScheduledJobs()`

I get why that is.. but I wonder if there is a better way to handle this.. such as a

[2020-01-05 17:18] khoogheem opened #56 "Any way to make a ScheduledJob every X mins/hours"
Looks like there is no way to make ScheduledJobs run every X hours or X Mins.

The current helpers if I am not mistaken are every 1 min, 1 hour..

I don't see a way to create a ScheduledBuilder and use that to schedule a job.

looks like the `jobs.schedule()` calls the mutating function `self.storage.configuration.schedule(job, builder: builder)` which is internal.

[2020-01-12 12:08] idi888 commented on #54
On this note, I cant get the .schedule to work at all

[code]

Nothing happens

[2020-01-12 14:25] mcdappdev commented on #54
@idi888 Just checking that you're actually running the jobs worker?

[2020-01-13 00:11] idi888 commented on #54
@mcdappdev I thought I was, I registered the with the redis driver
When i looked into it, it looked like I was missing something becuase the JobsCommand.run was never running

Can you point me to a gist/something

[2020-01-13 00:13] mcdappdev commented on #54
Sure, checkout the docs here: https://github.com/vapor/docs/pull/389

(Make sure to read the ones in the 4.0 folder)

[2020-01-13 00:43] idi888 commented on #54
@mcdappdev Thanks I got it (i got another issue with running it in-process but creating a new issue)

The fix for the everySecond() is simply-ish (might want to rename milliseconds to nanoseconds to keep it inline with DateComponents)

You are not taking into account the milliseconds so the DateComponents is empty so it can not create a nextDate()

[code]

[2020-01-19 19:20] khoogheem commented on #56
ok.. so I kinda found that this works. for doing something every 10 mins.. but surely we can come up with something easier:

[code]

[2020-01-20 17:26] tanner0101 commented on #56
I don't think this is supported yet. Maybe this would be a good API:
[code]

[2020-01-20 18:40] khoogheem commented on #56
@tanner0101 That looks like it would make sense.. everything I was thinking about the other day.. just didn't convey what is should do.

[2020-01-21 18:49] mcdappdev commented on #54
@idi888 where are you saying that code should go?

[2020-01-21 22:21] idi888 commented on #54
Below :
https://github.com/vapor/jobs/blob/77cc49790c62d2612afde2afbc0d220a39c340f5/Sources/Jobs/ScheduleBuilder.swift#L344

[2020-01-21 22:48] mcdappdev commented on #54
Thanks much @adirburke, it's fixed here: https://github.com/vapor/jobs/pull/58

[2020-01-21 22:50] adirburke commented on #54
No worries. Happy to help!

[2020-01-24 02:35] mcdappdev commented on #54
Fixed via #58

[2020-01-24 02:35] #54 closed

[2020-01-24 02:42] mcdappdev commented on #55
Fixed via #57 thank you!

[2020-01-24 02:42] #55 closed

[2020-02-12 19:14] Andrewangeta opened #60 "Supplying an Application instance when dequeuing a job"
It would be advantageous to have access to an instance of `Application` when dequeueing a job.
Maybe having it added as a property on the `JobContext`

[code]

[2020-02-13 16:24] tanner0101 commented on #60
As a workaround, `app.jobs.configuration` has a `userInfo` dict that you can put whatever you need into. Then you can access that from `context.configuration`

[2020-02-13 16:25] Andrewangeta commented on #60
Sounds good.

[2020-02-28 12:24] Andrewangeta commented on #17
@tanner0101 is this something that might make it into RC tags? Or a future RC?

[2020-02-28 14:12] mcdappdev commented on #17
I'd love to get it into the first RC but to be honest I haven't even scoped out what this feature looks like yet. I might have some time this weekend to take a look

[2020-02-28 14:26] Andrewangeta commented on #17
Sounds good. Ping me if you want some assistance in researching what this could look like.

[2020-02-28 14:26] mcdappdev commented on #17
Will do, thank you!

[2020-03-02 17:07] #60 closed

[2020-03-14 12:37] stephanmantler commented on #56
My temporary approach for running a job every 5 minutes:
[code]

[2020-04-10 08:58] StrauneanuDimitri opened #66 "Support for setting a JobIdentifier for a job"
Currently, there is no way to inject a `JobIdentifier` for a certain job using `queue.dispatch(...)` so that we can use that `JobIdentifier` to clear a job from the queue, by calling `queue.clear(id)`.

[2020-04-10 12:32] mcdappdev commented on #66
This is an interesting idea. Perhaps the dispatch method should just return the JobIdentifier that it creates to keep it consistent. @tanner0101 what do you think?

[2020-04-11 02:39] Andrewangeta opened #68 "Remove deprecation for V1"
We can remove this [deprecation](https://github.com/vapor/queues/blob/899151443f73915846aaf92188374dd68a3fe869/Sources/Queues/Application%2BQueues.swift#L6) now that we're about to tag a V1

[2020-04-11 02:40] mcdappdev commented on #68
Already taken care of here: https://github.com/vapor/queues/pull/64/files#diff-bc532488367b0e1ea8dcc1a8b7e17103L6

Thanks!

[2020-04-11 02:40] #68 closed

[2020-04-11 13:18] StrauneanuDimitri commented on #66
@mcdappdev - How about passing the `JobIdentifier` without breaking changes? This is what I currently use (I have made a new Queue extension):
[code]

[2020-04-12 09:10] tonyarnold opened #70 "Provide a Fluent-backed driver?"
I've been working on porting the work I did for the earlier Jobs PostgreSQL driver over to the new Queues library, and I keep coming up against wanting to use Fluent to provide a `JobData` wrapper that could be constructed using Fluent.

It got me to thinking: why not provide a single Queues driver that backs onto whatever Fluent-backed database the user is already using?

Does this sound feasible

[2020-04-12 13:13] Andrewangeta commented on #70
Someone already started work on that :) https://github.com/m-barthelemy/vapor-queues-fluent-driver

[2020-04-12 18:04] mcdappdev commented on #70
Beat me to it! :)

[2020-04-12 18:04] #70 closed

[2020-04-12 18:12] mcdappdev commented on #66
@StrauneanuDimitri I like that syntax, I just pushed to the PR with it :)

[2020-04-16 19:33] mcdappdev commented on #66
Merged in #64

[2020-04-16 19:33] #66 closed

[2020-05-02 11:21] rubencagnie commented on #46
@mcdappdev - I am seeing this issue on the latest version. A ScheduledJob is executed multiple times (sometimes 5-6 times). Unfortunately this is to send out push notifications, so the issue is very visible... Can I set it up that only 1 worker executes the Scheduled jobs?

[2020-05-02 15:52] mcdappdev commented on #46
@rubencagnie sorry to hear this. Two questions:

1. Are you running the scheduled worker in process?
2. If so, how many instances of your app are you running?

[2020-05-04 18:06] rubencagnie commented on #46
@mcdappdev Sorry for the late response, but I have been trying to gather some more logs regarding this issue. Everyday, I have a Scheduled job to auto create some records in a database. It happens more than often that multiple instance are created. It's super hard to debug as it only happens sporatically. So I added a "Thread name" and "created_at" to each of my records (I pasted below) As you can

[2020-05-06 15:29] mcdappdev commented on #46
@rubencagnie That's weird, but great job debugging - adding the NIOThread output was very smart.

@tanner0101 any ideas here? I thought we fixed this but the logs seem to indicate maybe not.

[2020-05-06 15:34] rubencagnie commented on #46
@mcdappdev - is there a way to limit the number of workers?

[2020-05-06 15:44] mcdappdev commented on #46
That's the part I'm not 100% sure on - I thought we limited it to only using one event loop at the library level but I guess not.

[2020-05-18 20:54] tanner0101 commented on #46
@rubencagnie how are you starting the scheduled jobs? You noted you're doing this in process, but where? Sharing that code would be helpful.

I'm looking at the code and I can't see anywhere the library could be doing this. We also have a test case for this: https://github.com/vapor/queues/blob/master/Tests/QueuesTests/QueueTests.swift#L114-L127

[2020-05-18 21:08] rubencagnie commented on #46
@tanner0101 - Thanks for sending the info

So, I might have found a lead. At a certain point in my code, I add a new ScheduledJob, but as that wasn't being triggered, I called `req.application.queues.startScheduledJobs()` again. Could that have been the cause? That each time that is called, the jobs are scheduled again? That way, the more I call that function, the more the scheduled job is execute

[2020-05-18 21:14] tanner0101 commented on #46
Yes, that sounds like it. Each time you call `startScheduledJobs` it will start all of them without cancelling any previously started ones. There's currently no way to cancel already started jobs, we  could consider adding API for that. But I'd recommend only calling `startScheduledJobs` once you've already added all of them.

[2020-05-18 21:48] rubencagnie commented on #46
Great! I’ve deployed my change and I’ll let you know if it fixed it. I’d suggest closing this issue and I’ll comment back if it appears again. Thanks for all the help!

[2020-05-18 21:53] rubencagnie commented on #46
And to give some context on the usecase: we have events that are planned at a certain date. So when the server starts up, it schedules all these events to start (sending a push notification when it is started). But admins can also create events, so those need to be scheduled as well. If there was a way to “add” a scheduled event - that would be great...

[2020-05-19 00:15] mcdappdev commented on #46
@rubencagnie I think that could be tricky since scheduled jobs are stored in memory and not persisted like Redis. In the short term, one way to solve this would be to run a job every minute and check if a event should be dispatched - that obviously might be complex depending on your setup/usecase but it might work.

[2020-05-19 00:15] #46 closed

[2020-05-23 04:42] thuotdwz opened #72 "In process queues worker crash on Ctrl+c to exit server"
I have found a small issue when making use of startInProcessJobs function to run in process worker.

In configure we call:

    app.queues.startInProcessJobs(on .default)

However when server is exited using ctrl+c, there will be an error printed from QueuesCommand deinit

    JobsCommand did not shutdown before deinit

 I think we need to QueuesCommand part of lifecycle so its shutdown function c

[2020-06-08 23:56] maximkrouk opened #74 "ScheduledJob management [Draft]"
Now it's not possible to edit the schedule of a job or to remove a job from the queue.

[2020-07-09 09:52] 3a4oT opened #75 ""JobsCommand did not shutdown before deinit" when run unit tests"
### Steps to reproduce

I use the QUEUES package and try to understand how to use it. I have created a simple Job which fetches data from a remote server. I config vapor application with the following function

[code]

I dispatch Job from Controller like this:

[code]

The issue occurs when I run unit tests not necessarily related to JOB functionality:

[code]

After execution, I always hit assert

[2020-07-09 15:40] jdmcd commented on #75
Hi there, thanks for opening this issue! This seems related to #72 which I haven't had time to track down yet. Hopefully sometime next week, unless someone from the community wants to dig into it.

[2020-07-11 17:18] 3a4oT commented on #75
Hi @jdmcd , thanks for the quick feedback. I've submitted PR

[2020-07-14 21:40] jnordberg opened #79 "Retry delay"
Would be nice to be able to be able to specify a delay between retries.

Maybe something like

[code]

That would allow you to implement exponential backoff etc

[2020-07-14 21:56] jdmcd commented on #79
Agreed, this is a good idea. Unfortunately this would be a break change (unless we can find a different way to accomplish it) so would need to wait for Queues v2.

[2020-07-15 15:12] jnordberg commented on #79
Wouldn't the default implementation in the protocol make it backwards compatible? 🤔

[2020-07-15 15:15] jdmcd commented on #79
@tanner0101 would need to weigh in here but I'm pretty sure any public protocol addition regardless of default implementation is semvar major

[2020-07-15 15:23] jnordberg commented on #56
👍

Would be cool if the schedule builder was public as well so you can implement your own, e.g.:

[code]

[2020-07-15 15:43] #75 closed

[2020-07-15 15:44] jdmcd commented on #72
Fixed by the latest release

[2020-07-15 15:44] #72 closed

[2020-07-15 16:50] tanner0101 commented on #79
@jdmcd if it has a default impl that's fine for semver minor. Going by Vapor's semver rules at least, other projects might be more strict.

[2020-07-15 16:52] jdmcd commented on #79
Oh fantastic! In this case then I think it'd be a great addition.

[2020-07-15 20:16] jhoughjr opened #81 "More informative error reporting about what job is failing"
QueuesCommand.swift line 101:                     worker.queue.logger.error("Job run failed: \(error)")
yields uninformative errors like "Connection refused" with no context as to what actually failed.
Logging the worker, I see it has some information about the job that would be useful.

Might relate to #79 possibly as without a delay, the logs fill with infinite retries of non-obvious origins.
Po

[2020-07-15 20:51] jdmcd commented on #81
You can use the `error` function to customize the error message if you'd like, although I agree that it would be nice to log out the data and other items with `trace` or `debug` levels

[2020-07-16 05:26] jhoughjr commented on #81
I added something quick and dirty to see what could be done ie was the condition accessible at runtime. I might ponder it and put in a PR.

[2020-07-16 17:32] 3a4oT commented on #74
+1 for this functionality.

[2020-07-31 22:13] madsodgaard opened #84 "Add option to configure number of workers"
It would be nice to give the user the ability to control the number of workers they wish to have, instead of being forced to use the default of 1 per core.

Possible API:
`app.queues.configuration.numWorkers = 2`

[2020-08-02 01:17] danwallacenz opened #85 "Scheduling a ScheduledJob hourly runs a few seconds early and reschedules thus running twice"
Scheduling a synchronous job to run hourly runs a few seconds early then reschedules to run at the correct time a few seconds later - thus running twice. Occasionally it will run early more than once (see 08:01:57).

I have worked around this by not running the job if it is running or if it has run within the last minute.

### Steps to reproduce

[code]

### Expected behavior

`ScheduledJob` shoul

[2020-08-02 01:18] jdmcd commented on #85
Moving this to the queues repo for better tracking. I will look into this and see if I can figure out what's up.

[2020-08-02 08:44] danwallacenz commented on #85
**Scheduling correctly running natively on MasOS 10.15.5 via Xcode.**

[ DEBUG ] Could not load .env.development file: open(file:oFlag:mode:): No such file or directory (errno: 2) (Vapor/Application.swift:132)
[ DEBUG ] Could not load .env file: open(file:oFlag:mode:): No such file or directory (errno: 2) (Vapor/Application.swift:132)
[ DEBUG ] 2020-08-02 06:19:25 +0000 Initializing rates (App/Cur

[2020-08-02 20:03] felswa commented on #85
I have noticed something that may be relevant here. I run the vapor server as a localhost on my computer. However, the server is GMT and the computer is GMT + 1. Depending on how you call schedule(), you need to input different times in order to get them to run at the same time.

// 1st case runs at the time on my computer.
 app.queues.schedule(CleanupJob())
       .daily()
       .at(6, 08, .pm)

[2020-08-02 20:07] felswa commented on #85
It is possible that the clocks between your server and computer are off by a few seconds.

[2020-08-02 20:27] danwallacenz commented on #85
Thanks Jimmy.

[2020-08-02 20:33] danwallacenz commented on #85
@felswa Thanks for the suggestion. Any suggestion on how I could test this?

[2020-08-02 20:47] danwallacenz commented on #85
@felswa I ran:

[code]
and got:

[code]
So I guess the clocks are in sync.

[2020-08-02 21:51] felswa commented on #85
Thanks Dan. I am very new to this.

[2020-08-02 21:57] danwallacenz commented on #85
@felswa Me too.

[2020-08-03 13:21] felswa commented on #85
Dan,

I see you are working on a finance project. Me too. If you want to compare notes sometimes my email is wayne.felson2@gmail.com <mailto:wayne.felson2@gmail.com>. Thanks.

Rgds,

Wayne

[2020-08-06 19:58] #84 closed

[2020-08-06 21:04] tanner0101 commented on #85
Hi @danwallacenz, thanks for reporting. Based on the logs it looks like the target date is being calculated correctly:

However, the job is actually running slightly early.

That makes me think the issue resides here where we schedule the job on the event loop: https://github.com/vapor/queues/blob/master/Sources/Queues/ScheduledJob.swift#L39

Perhaps `Date.timeIntervalSinceNow` or `EventLoop.sched

[2020-08-06 21:05] tanner0101 commented on #85
Side note, a potential workaround here could be storing the last date the job was run at and backoff rescheduling until we get a next date that is actually in the future.

[2020-08-06 23:10] danwallacenz commented on #85
@tanner0101 Thanks for looking at this. I do have workarounds in place.

[2020-08-07 01:04] grundoon commented on #85
@jdmcd (et al) Apologies for dropping an aside in here, but if not actually scheduling a *repeating* task there

[code]
is there a reason for not just using `scheduleTask(deadline:_:)` or `scheduleTask(in:_:)`?

Perhaps I'm missing something, but I'm not readily seeing anywhere that `class RepeatedTask` is being used where `struct Scheduled` would not suffice (and that `.cancel()` in the closure c

[2020-08-07 01:11] tanner0101 commented on #85
@grundoon good catch, that looks like an oversight. `scheduleTask` seems like the better API for this case.

[2020-08-07 01:15] tanner0101 commented on #85
@grundoon would you wanna up an issue for that or PR it? Otherwise I can

[2020-08-07 01:22] grundoon commented on #85
@tanner0101 A little backed up here, but not too badly and I think I can add it to my, uh... queue. 😄

[2020-08-07 06:19] Lukasa commented on #85
@tanner0101 Maybe I’m confused, but I don’t see how this runs a second time. This always calls `cancel`, which should always be done before the original `future` completes, and so this should _never_ reschedule.

As to the question of why it might run early: NIO doesn’t schedule jobs on wall clock time, it schedules them against [a monotonic uptime clock](https://github.com/apple/swift-nio/blob/08

[2020-08-07 06:50] Lukasa commented on #85
Hmm, I realise I should add to this something explicit that is _implicit_ above: the monotonic uptime clock is still affected by ntp changes! It just doesn't _jump_: it skews, instead. The end result is that if you run something "once per hour" against the monotonic clock you should see it run _approximately_ once per wall clock hour, but sometimes it'll run a bit early and sometimes it'll run a b

[2020-08-07 15:36] tanner0101 commented on #85
@Lukasa OK that makes sense and seems very likely to be the culprit. I imagine `Date` is using the "wall clock" so that's where we're getting a divergence. I will look into `DispatchSources`, thank you!

Ignore that we are using `scheduleRepeatedTask` here. That should really be `scheduleTask` as @grundoon pointed out. Once the task completes, we calculate the next date and schedule again. If the

[2020-08-07 22:47] grundoon commented on #85
@tanner0101 After messing with it a bit, I'm going to withdraw that suggestion. While the API switch superficially seems to make sense, the returned `Scheduled` would be a generic and likely carry more overhead than any minimal benefit derived. Since the observed behavior is entirely unrelated, not seeing any real point in trying to extricate `RepeatedTask` from the package... it's pretty embedded

[2020-08-07 22:55] tanner0101 commented on #85
@grundoon either way it seems like we need to switch to Dispatch or something else given what Cory said. Thanks for looking into it though 👍

[2020-08-12 02:51] danwallacenz commented on #85
I have not seen these scheduling errors after deploying my container to an AWS Elastic Beanstalk multi-container Docker environment running on 64bit Amazon Linux/2.20.4.

[2020-10-20 06:52] siemensikkema opened #88 "Queues does not support Swift 5.2"
Because Queues no longer supports 5.2 due to a few missing `self.` in QueueWorker.swift the test for Vapor with Queues as a provider now fail, see for example: https://github.com/vapor/vapor/pull/2511/checks?check_run_id=1272354381

I suggest we either drop down to 5.2 in the test or test for both 5.2 and 5.3. On a related note, the README also says Queues supports 5.2.

[2020-10-20 13:05] jdmcd commented on #88
@siemensikkema good catch - we should probably just add back in those missing `self.` items. I will do that sometime this week!

[2020-10-23 14:32] piers12 opened #92 "Queues Package for official MongoDB Swift Driver"
I've been using the [official MongoDB Swift Driver](https://github.com/mongodb/mongo-swift-driver) which has been awesome so far.

For Queues, I believe the current community [MongoDB Queues package](https://github.com/vapor-community/queues-mongo-driver) only supports using the third party [MongoKitten](https://github.com/OpenKitten/MongoKitten) and not the [official MongoDB Swift Driver](https:/

[2020-11-02 10:00] 0xTim commented on #88
Closed via #91

[2020-11-02 10:00] #88 closed

[2020-12-26 14:04] Andrewangeta commented on #79
I just had a dream about this kinda feature for queues haha. I think it'd be super helpful as well like an exponential back off sort of retry. Similar to how stripe [retries failed webhooks](https://stripe.com/docs/webhooks/best-practices#retry-logic)

[2020-12-26 21:50] jdmcd commented on #79
Totally agreed, I think this would be great! Unfortunately I don't have a ton of bandwidth to implement it myself but if anyone else wants to I'm more than happy to provide guidance + reviews!

[2021-03-03 12:40] omochi opened #94 "ScheduledJob run twice quickly because actual sleep duration is shorter than expected."
### Describe the bug

I used ScheduledJob which is scheduled at every minutes.
In some environment, job runs twice quickly at every minutes.

I patched this library to investigate by printing more information to know what happens.
This is a patch.
https://github.com/omochi/queues/pull/1/files

It prints scheduled time previously started job and current time.

This is log.

[code]

First, job is sc

[2021-08-18 17:52] jjabo commented on #17
Is this still being researched? The current queue is not 'reliable', rather jobs that are dequeued by a worker are lost if the e.g. the worker crashes.

[2021-08-21 20:14] jdmcd commented on #17
@jjabo I have not looked at this in a while but would definitely want to add it if I ever had the time. But would be happy to review a PR!

[2021-08-23 15:32] kacperk commented on #79
@jdmcd I think you can close this issue now

[2021-08-23 16:11] #79 closed

[2021-11-11 14:00] joemichels opened #106 "Make a Vapor Queue Sequential"
**Is your feature request related to a problem?
Currently, when running a Vapor Queue on a Mac in development, when adding jobs to a queue the jobs are pulled off by multiple eventloops, (assumption) and thus the jobs don't complete in added order. Thus the queue is not FIFO.

**Describe the solution you'd like**
I would like a setting to make a queue sequential or FIFO.

**Describe alternatives y

[2021-11-11 14:22] jdmcd commented on #106
Hi there! Thanks for raising this issue. You are right, the queue executing on multiple event loops is intentional/by design. There is a way around it, let me know if this makes sense:
1. You can create a new queue type, `completion`, that your completion jobs are assigned to (i.e. `app.queues(.completion).dispatch(...)`
2. You can create a new worker with `./Run queues --queue completion` that wi

[2021-11-17 14:19] 0xTim commented on #106
The other option is to trigger the next job inside the current job if there are no other jobs left, or do the check on a timer etc. That would ensure sequential processing

[2022-03-04 21:14] leonidas-o commented on #106
definitely need this, too. I even thought that this is actually the default behaviour for jobs in the same queue to be executed sequentially.

[2022-05-08 06:09] wfltaylor opened #109 "Allow getting connection pools for an event loop in clients"
**Is your feature request related to a problem? Please describe.**
It would be useful to be able to get the `RedisConnectionPool` for an `EventLoop`.  For example, one may want to extend `QueueContext` with a Redis property, to allow using Redis from Vapor Jobs.

**Describe the solution you'd like**
The method `pool(eventLoop:)` in `Application.Redis` could be made public.

**Describe alternatives

[2022-05-09 01:38] jdmcd commented on #109
@wfltaylor you should be able to get to it from `context.application.redis`. Let me know if that solves it for you

[2022-05-09 01:49] wfltaylor commented on #109
Is this safe, as this instance isn't for the jobs event loop?

[2022-05-09 01:54] jdmcd commented on #109
@wfltaylor good point, in that case I guess it depends on whether or not you are running the queue in a single event loop. If not then yeah that probably isn't safe.

[2022-05-09 02:04] wfltaylor commented on #109
That's possible, so do you know of any way to get Redis with the correct event loop? This is done by the Redis library for requests, but I haven't been able to figure out a way to do this without using inaccessible methods.

[2022-05-09 02:07] jdmcd commented on #109
Nope I would agree with you @wfltaylor, the `pool` method would need to be made public. The same would be true even if the queues library were to implement a property ourselves (although it would have to be on the `queues-redis-driver` package since `queues` itself has no knowledge of Redis)

[2022-05-09 05:16] Mordil commented on #109
I moved this here as it makes sense to me that a job should be given the underlying driver client for the provided event loop as part of the context

[2022-05-30 13:35] 0xTim opened #112 "Output to Swift Metrics"
We should add a dependency to Swift Metrics and output based metrics from the package like jobs queued, time taken to process a job and success/failure status

[2022-07-31 11:15] Sherlouk commented on #56
Issue seems to be quiet but I too would love this functionality, my workaround is very much similar to Kevin's. Though I've made it a little more flexible in an extension 😄

[code]

[2022-09-05 01:15] tonyarnold opened #116 "Let the driver determine the appropriate payload storage format"
I'm frustrated that when I use the excellent Fluent Driver for Queues, the payload/`JobData` enforces storage as raw `Data`. This ends up meaning that for Postgres and MySQL, it's a column containing `[UInt8]`, which is far from ideal.

I assume that this was done for the early drivers, which require storage this way, but it would be good to unpick this? Offering the payload as Codable and expecti

[2022-09-05 01:57] jdmcd commented on #116
@tonyarnold thanks for the suggestion! On mobile so apologies for the quick response/possibly inaccurate information, but if I remember correctly we had to store the data inside of JobData as `[UInt8]` instead of `Codable` because we ran into problems with `Codable` not being allowed to be used as an existential, and some other problem when trying to use it as a generic. Sorry for the vagueness, w

[2022-09-05 23:15] tonyarnold commented on #116
Surely that's the concern of the driver though, right — shouldn't Queues itself only be saying "here's what I need you to persist"?

[2022-09-06 13:09] jdmcd commented on #116
@tonyarnold agreed, but I believe the only way we were able to coerce the type system into doing that was dropping down to bytes. Will have to carve out some time this week to take a look, in the meantime @gwynne I believe you helped me and @tanner0101 when we were writing that part of it, let me know if you recall any of this